.titulo {
width: 40%;
color: rgb(255, 255, 255);
}

.paragrafo1 {
 width: 30%;
 color: rgb(255, 255, 255);
 text-align: center;
}

body {
    background-image: linear-gradient( black, rgb(80, 70, 70) );
}